WP_URL=https://meusite.com.br
WP_USER=admin
WP_APP_PASSWORD=xxxx xxxx xxxx xxxx xxxx xxxx
SSH_HOST=0.0.0.0
SSH_PORT=22
SSH_USER=root
SSH_PASSWORD=
SSH_KEY_PATH=
WP_PATH=/var/www/meusite/htdocs
WPCLI_BIN=/usr/local/bin/wp
PORTAL_NAME=Meu Portal
PORTAL_NICHE=tecnologia
PORTAL_DOMAIN=meusite.com.br
LOG_LEVEL=INFO
